Repository piotrpdev/rspi-bios: changes, and which pre-commit hooks are due for each by the changed paths.
All: html-lint, fmt, clippy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/commitizen-tools/commitizen
      rev: v3.29.0
      hooks:
          - id: commitizen
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: check-yaml
          - id: check-json
          - id: check-toml
          - id: check-added-large-files
    - repo: https://github.com/DavidAnson/markdownlint-cli2
      rev: v0.13.0
      hooks:
          - id: markdownlint-cli2
    - repo: local
      hooks:
          - id: html-lint
            name: html-lint
            entry: npm run format
            language: system
            types: [text]
            files: "\\.html$"
            pass_filenames: false
          - id: fmt
            name: fmt
            entry: cargo fmt
            language: system
            types: [rust]
            args: ["--"]
          - id: clippy
            name: clippy
            entry: cargo clippy
            language: system
            types: [rust]
            args: ["--fix", "--allow-staged", "--", "-W", "clippy::pedantic", "-D", "warnings"]
            pass_filenames: false

style: 4 space indent
  .prettierrc
  assets/index.html
  eslint.config.js
Due: html-lint

feat: templates
  Cargo.lock
  Cargo.toml
  eslint.config.js
  package.json
  src/main.rs
  templates/index.html
Due: html-lint, fmt, clippy

refactor: local images, display none
  assets/index.html
  templates/index.html
Due: html-lint

feat: sse, preload
  assets/favicon.svg
  src/main.rs
  templates/index.html
Due: html-lint, fmt, clippy

refactor: optimize
  Cargo.lock
  Cargo.toml
  README.md
  askama.toml
  assets/award_software_logo.png
  assets/energy_star_logo.png
  assets/favicon.svg
  build.rs
  index.html
  package.json
  src/main.rs
Due: html-lint, fmt, clippy

fix: eslint
  eslint.config.js
Due: none

refactor: more optimization
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  README.md
  askama.toml
  eslint.config.js
  package.json
  src/main.rs
  templates/index.html
Due: html-lint, fmt, clippy

feat: tls
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  certs/.gitkeep
  src/main.rs
Due: fmt, clippy

feat: graceful shutdown
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
Due: fmt, clippy

refactor: rust-tls isn't building on arm, revert
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
Due: fmt, clippy

fix: rust-tls cross build
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
Due: fmt, clippy

feat: log to file
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: fmt, clippy

feat: nicer readme, demo gif
  .github/img/rspi-bios.gif
  README.md
  rspi-bios.service
Due: none

feat: less strict systemd service
  rspi-bios.service
Due: none

feat: better error handling
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: fmt, clippy

feat: better logging
  src/main.rs
Due: fmt, clippy

feat: multiple paths
  Cargo.lock
  Cargo.toml
  README.md
  askama.toml
  src/main.rs
Due: fmt, clippy

style: add back clippy rule
  Cargo.toml
Due: none

refactor: group related blocks
  src/main.rs
Due: fmt, clippy

fix: create_dir_all bug, unused dep
  README.md
  src/main.rs
Due: fmt, clippy

docs: static build
  README.md
Due: none

fix: correct error data
  src/main.rs
Due: fmt, clippy

feat: log build commit
  build.rs
  src/main.rs
Due: fmt, clippy

feat: make static build default
  .cargo/config.toml
  README.md
Due: none

feat: watchstream, display git hash
  src/main.rs
  templates/index.html
Due: html-lint, fmt, clippy

feat: gh action
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
Due: none

ci: publish on rs file change
  .github/workflows/publish.yml
Due: none

docs: better service
  README.md
  rspi-bios.service
Due: none

ci: locked build
  .github/workflows/publish.yml
Due: none

refactor: arm64 default
  .cargo/config.toml
  .github/workflows/publish.yml
  README.md
Due: none

ci: fix file pattern
  .github/workflows/publish.yml
Due: none

feat: os version, cpu arch
  src/main.rs
  templates/index.html
Due: html-lint, fmt, clippy

feat: deb package
  .github/workflows/publish.yml
  Cargo.toml
  README.md
  certs/.gitkeep
  certs/.placeholder
  debian/postinst
  debian/rspi-bios.service
  src/main.rs
Due: fmt, clippy

docs: specify .pem file names
  README.md
Due: none

feat: better error handling in main
  src/main.rs
Due: fmt, clippy

feat: clap
  Cargo.lock
  Cargo.toml
  README.md
  debian/rspi-bios.service
  src/main.rs
Due: fmt, clippy

refactor: remove anyhow
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: fmt, clippy

refactor: use tag as version
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  build.rs
  src/main.rs
  templates/index.html
Due: html-lint, fmt, clippy

ci: fix variable use
  .github/workflows/publish.yml
Due: none

feat: https redirect
  src/main.rs
Due: fmt, clippy
