Repository piotrpdev/rspi-bios: changes, and which pre-commit hooks are due for each by the changed paths.
All: html-lint, fmt, clippy

html-lint:
  name: html-lint
  entry: npm run format
  language: system
  pass_filenames: false

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  args:
  - --fix
  - --allow-staged
  - --
  - -W
  - clippy::pedantic
  - -D
  - warnings
  pass_filenames: false

feat: exitcode, exit on redirect setup fail
  src/main.rs
Due: fmt, clippy

fix: https handle error
  src/main.rs
Due: fmt, clippy

feat: simple meta tags
  templates/index.html
Due: html-lint

docs: link to `publish.yml`
  README.md
Due: none

docs: simple docs for `main.rs`
  Cargo.toml
  build.rs
  src/main.rs
Due: fmt, clippy

build: ignore result directory
  .gitignore
Due: none

feat: add default.nix
  default.nix
Due: none

Path conditions:
  html-lint: any of: \.html$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
